/*div{
    height: 200px;
    width: 200px;
    background-image: url("/CSS/tiger.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
}*/

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}